/*
Error: Undefined variable: "$buton-text".
        on line 6 of sass/shared/button.sass, in `button'
        from line 14 of sass/shared/button.sass
        from line 6 of sass/shared/index.sass
        from line 2 of sass/index.sass

1: @import 'base/mixins'
2: @import 'shared/index'
3: @import 'layout/index'
4: @import 'base/reset'
5: 
6: @import 'pages/index'

Backtrace:
sass/shared/button.sass:6:in `button'
sass/shared/button.sass:14
sass/shared/index.sass:6
sass/index.sass:2
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `map'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/Users/User/.local/share/gem/ruby/3.2.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$buton-text\".\A         on line 6 of sass/shared/button.sass, in `button'\A         from line 14 of sass/shared/button.sass\A         from line 6 of sass/shared/index.sass\A         from line 2 of sass/index.sass\A \A 1: @import 'base/mixins'\A 2: @import 'shared/index'\A 3: @import 'layout/index'\A 4: @import 'base/reset'\A 5: \A 6: @import 'pages/index'"; }
